* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allSections {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 22px;
  position: relative;
}

.seAlleBtn {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--tertiary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.seAlleBtnPosition {
  padding-top: 22px;
}

.allSections img {
  margin: auto;
  object-fit: cover;
  width: 360px;
  height: 240px;
  /* opacity: 0.8; */
  display: block;
  border-radius: 10px;
}

.section {
  border-radius: 12px;
  padding: 10px;
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
  max-width: 388px;
  height: 412px;
}

h2 {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 44px;
}

:hover.section img {
  transform: scale(1.07);
  transition: 0.1s ease;
}

.seAlleBtnPosition button:active {
  transform: scale(0.96);
}
