* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 100px; /* Adjust based on header height */
}

header {
  background-color: #151515fb;
  height: 84px;
  display: flex;
  justify-content: space-between;
  padding: 34px;
  align-items: center;
  font-size: 24px;
  position: fixed; /* Fixes the header in place */
  top: 0; /* Keeps it at the top of the page */
  left: 0;
  width: 100%; /* Makes sure it spans the full width */
  z-index: 1000; /* Ensures it stays above other elements */
}

.logoTheme {
  position: relative; /* Makes this a reference for absolute positioning */
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangleDown {
  position: absolute; /* Puts it behind the button */
  top: 60%;
  left: 92%;
  transform: translate(-50%, -50%); /* Centers it */

  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #7279b7;
}

.triangleUp {
  position: absolute;
  top: -40%;
  left: 66%;
  transform: translate(-50%, 10px); /* Moves it slightly up */

  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #2f2f2f;
}

.logoBtn {
  position: relative; /* Ensures it stays on top */
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 2; /* Higher than triangle so it stays visible */
}

.headerBtn {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #7279b7;
  padding: 6px;
  color: white;
}

.headerButtons {
  display: flex;
  gap: 18px;
}
