* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profilePic {
  object-fit: cover;
  border-radius: 12px;
  width: 264px;
  height: 264px;
  box-shadow: -44px 44px rgba(104, 104, 104, 0.299);
}

.frontPageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  padding-top: 24px;
}

.frontPageText {
  max-width: 420px;
  color: rgb(134, 134, 134);
}

h1 {
  color: rgb(196, 196, 196);
  font-size: 50px;
  letter-spacing: 2px;
}

p {
  font-size: larger;
}
