* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profilePic {
  object-fit: cover;
  border-radius: 12px;
  width: 264px;
  height: 264px;
  box-shadow: -44px 44px #7279b7;
}

.frontPageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  padding-top: 24px;
}

.frontPageText {
  max-width: 420px;
  color: rgb(224, 224, 234);
}

h1 {
  color: rgb(138, 140, 189);
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

p {
  font-size: larger;
}
