* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #242424;
  --secondary: rgb(24, 24, 24);
  --tertiary: #7279b7;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #242424; /* Dark mode primary color */
  }
}

#root {
  max-width: auto;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body {
  font-family: "Figtree", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 260px;
}

/* .logoTheme {
  display: flex;
  gap: 12px;
} */

@media screen and (max-width: 1080px) {
  /* body {
    gap: 98px;
    grid-template-columns: 1fr 1fr 1fr;
  } */
  main {
    gap: 48px;
    padding: 48px 100px;
  }
}

@media screen and (max-width: 768px) {
  /* body {

    gap: 100px;
    grid-template-columns: 1fr 1fr;
  } */
  main {
    gap: 28px;
    padding: 28px 48px;
  }
}

@media screen and (max-width: 425px) {
  /* body {

    gap: 100px;
    grid-template-columns: 1fr 1fr;
  } */
  main {
    gap: 28px;
    padding: 28px 28px;
  }
}

footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 40px;
  background-color: rgb(109, 109, 109);
}

button:hover.headerBtn {
  transform: scale(1.2);
}
