* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100vh; */
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
} 

.aboutMeP {
  padding-left: 764px;
  padding-right: 764px;
}